#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ibis"
name = "Ibis"
description.en = "Federated online encyclopedia"
description.fr = "Encyclopédie en ligne fédérée"

version = "0.3.1~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0"
website = "https://ibis.wiki/"
admindoc = "https://ibis.wiki/article/Setup_Instructions"
code = "https://github.com/Nutomic/ibis"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    rename = "ibis"
    url = "https://github.com/Nutomic/ibis/releases/download/0.3.1/ibis.gz"
    sha256 = "52edc6d5bcf0e6b76f02dec1c61d26c6663e0f1463d4db58844bc889412d9148"

    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
